body{
    text-align: center;
    margin-top: 15%;
}

div{
    margin: 5% 38%;
}

canvas{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

button{
    background-color: lightcoral;
    border-radius: 10px;
    border: 2px solid black;
}